.App {

    position: relative;
    width: 1440px;
    height: 1024px;
}
.Login {
    position: absolute;
    width: 10.875rem;
    height: 2.625rem;
    left: 0rem;
    top: 0rem;

}
.Imagelogin {
    width: 1256.13px;
    height: 1024px;
    left: -173.11px;
    top: 0px;
}

.logotipo {
    position: absolute;
    width: 238px;
    height: 42px;
    left: 956px;
    top: 126px;
}
.Titlelogin {
    position: absolute;
    width: 62px;
    height: 29px;
    left: 956px;
    top: 301px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #000000;
}
.Titleusername {

    position: absolute;
    width: 5.125rem;
    height: 1.313rem;
    left: 59.75rem;
    top: 23.375rem;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.313rem;
}
.Retangle {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* oficial_1 */

border: 1.5px solid #2E57C8;
box-sizing: border-box;
border-radius: 6px;
}
.logininputemail {
    /* E-mail */


    position: absolute;
    width: 2.813rem;
    height: 1.188rem;

    left: 60.875rem;

    top: 26.625rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    /* identical to box height */


    color: #9D9D9D;

}
.Titlepass {

    /* Password */


    position: absolute;
    width: 5rem;
    height: 1.313rem;
    left: 59.75rem;
    top: 30.688rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.313rem;
    /* identical to box height */


    color: #000000;
}
.logininputpass {
    /* Rectangle 3 */


    position: absolute;
    width: 25.813rem;
    height: 3rem;

    left: 60.875rem;

    left: 59.75rem;

    top: 33rem;

    background: #FFFFFF;
    border: 0.063rem solid #CECECE;
    box-sizing: border-box;
    border-radius: 0.375rem;


    /* Password */


    position: absolute;
    width: 4.438rem;
    height: 1.188rem;

    left: 59.75rem;

    left: 60.875rem;

    top: 33.938rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    /* identical to box height */


    color: #9D9D9D;

}
.checkbox {
    /* Remenber me */
    position: absolute;
width: 100px;
height: 19px;
left: 982px;
top: 591px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #9D9D9D;

}
.resetpass {
    /* Reset Password? */


    position: absolute;
    width: 7.938rem;
    height: 1.188rem;
    left: 77.688rem;
    top: 36.938rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    /* identical to box height */


    color: #9D9D9D;

}
.buttonsigninname {
    align-items: center;
    /* Rectangle 4 */
    
    margin: 0rem;
    padding: 0rem;
    
    position: absolute;
    width: 25.813rem;
    height: 3.188rem;
    left: 59.813rem;
    top: 42.438rem;

    /* oficial_1 */

    background: #2E57C8;
    border: 0.063rem solid #CECECE;
    box-sizing: border-box;
    border-radius: 0.625rem;    
}
.buttonsigninname {
    
    position: absolute;
    width: 56px;
    height: 21px;
    left: 1136px;
    top: 694px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    /* fundo_telainicial */

    color: #F3FBFF;

}
.signup {
    position: absolute;
    width: 413px;
    height: 26px;
    left: 957px;
    top: 876px;
}
